<h2>Please input words by Hiragana</h2>
<form action="edit_detailed_voice" method="POST">
	Tempo:<input type='text' name='tempo' size='2' maxlength='3' value='<%= @tempo %>'>
	Time Signature:<input type='text' name='time_signature_numerator' size='1' maxlength='1' value='4'>/<input type='text' name='time_signature_denominator' size='1' maxlength='1' value='4'>
	<div>
		<textarea name="words" cols=40 rows=4><%= @words %></textarea>
	</div>
	<div>
		<input type="submit" value="Edit this words">
	</div>
</form>
