<h2>Download Voice file ?</h2>
<div>
	<p>Check current voice</p>
	<audio src='output.wav' controls preload='auto'>
		  <p>This browser don't support play audio</p>
	</audio>
</div>
<div>
	<a href='output.wav' download='output.wav'>Download Voice</a>
</div>
