<link rel='stylesheet' href='css/download_voice.css'>
<h2 id='title'>Download Voice file ?</h2>
<div id='voice_player'>
	<audio src='output.wav' controls preload='auto'>
		<p>This browser don't support play audio</p>
	</audio>
</div>
</br></br>
<div>
	<a id='text' href='output.wav' download='output.wav'>Download Voice</a>
</div>
