<h2>Success Generate New Voice</h2>
<h3>Generated file</h3>
<div>
	<audio src='/output.wav' controls preload='auto'>
		<p>This browser don't support play audio</p>
	</audio>
</div>
<div>
	<a href='output.wav'>Auto Play</a>
</div>
<div>
	<a href='output.wav' download='output.wav'>Download Voice</a>
</div>
