<ul>
	<li><a href="top">Top Page</a></li>
	<li><a href="simple_make_voice">Make New Voice (Simple)</a></li>
	<li><a href="detailed_make_voice">Make New Voice (Detailed)</a></li>
	<li><a href="expert_make_voice">Make New Voice (Expert)</a></li>
	<li><a href="player">Player Mode</a></li>
</ul>
<p>===================================================</p>
