<link rel='stylesheet' href='/css/header.css' />
<div id='menu'>
	<ul>
		<li><a href='top'>Top Page</a></li>
		<li><a href='player'>Player Mode</a></li>
		<li><a href='simple_make_voice'>Make Voice (Simple)</a></li>
		<li><a href='detailed_make_voice'>Make Voice (Detailed)</a></li>
		<li><a href='expert_make_voice'>Make Voice (MIDI)</a></li>
		<li><a href='edit_current_voice'>Edit current voice</a></li>
		<li><a href='download_voice'>Download voice file</a></li>
	</ul>
</div>
