<h2 id='title'>Please input words by Hiragana</h2>
<form action="generate_simple_voice" method="POST">
	Tempo:<input type='text' name='tempo' size='2' maxlength='3' value='<%= "#{@tempo}" %>'>
	<div>
		<textarea name='words' cols=40 rows=4><%= @words %></textarea>
	</div>
	<div>
		<input type='submit' value='Generate new voice'>
	</div>
</form>
