<h2>Please input words by Hiragana</h2>
<form action="generate_simple_voice" method="POST">
	<div>
		<textarea name='words' cols=40 rows=4>あいうえおかきくけこ</textarea>
	</div>
	<div>
		<input type='submit' value='Generate new voice'>
	</div>
</form>
