<h2>Welcome to Vocaloid-ruby</h2>
<ul>
	<li><a href="player">Player Mode</a></li>
	<p>Play vocaloid voice.</p>
	<li><a href="simple_make_voice">Make New Voice (Simple)</a></li>
	<p>Make new voice input only words.</p>
	<li><a href="detailed_make_voice">Make New Voice (Detailed)</a></li>
	<p>Make new voice input [words, scale, note].</p>
	<li><a href="expert_make_voice">Make New Voice (Expert)</a></li>
	<p>Make new voice like a DTM(Desk Top Music).</p>
	<li><a href="download_voice">Download voice file</a></li>
	<p>Download voice file, and possible to check current voice file.</p>
</ul>
